.faq-write-page {
    font-family: Arial, sans-serif;
    color: #333;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.logo {
    height: 40px;
}

.header-links a {
    color: #ffffff;
    text-decoration: none;
}

.faq-write-main-container {
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.faq-admin-write-heading {
    font-family: "Josefin Sans", Nanum Gothic;
    font-style: normal;
    font-weight: 400;
    font-optical-sizing: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.faq-write-form {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.faq-admin-write-content {
    font-family: "Josefin Sans", Nanum Gothic;
    font-style: normal;
    font-weight: 400;
    font-optical-sizing: auto;
}

.page-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

.faq-create-button {
    width: 100%;
    margin-top: 20px;
    background-color: #007aff;
    border: none;
}

.faq-nav-link-back {
    padding: 10px 10px 10px 10px;
    background-color: #fca31c;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: "Josefin Sans", Nanum Gothic;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-nav-link-back:hover {
    background-color: #ffe25e;
}

.faq-admin-write-content-margin {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}